.carousel-items > div {
  display: none;
}

#arsinoitherium-control:checked ~ .carousel-inner #arsinoitherium [for="arsinoitherium-control"],
#elasmotherium-control:checked ~ .carousel-inner #elasmotherium [for="elasmotherium-control"],
#glyptodon-control:checked ~ .carousel-inner #glyptodon [for="glyptodon-control"],
#megatherium-control:checked ~ .carousel-inner #megatherium [for="megatherium-control"] {
  display: block;
  background-color: #fff;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%
}
